#userscanvas_main{
    /* background-color: rgb(129, 129, 129); */
    background-color: #ffffff;
    /* height: 600px; */
    /* position: relative; */
    height: 100%;
}

.user_info_template_1 {
    cursor: pointer;
    position: absolute;
    z-index: 9;
    background-color: #E0E7EE;
    text-align: center;
    border-radius: 10px 10px 10px 10px;      /* div 모서리 */
    border: 0px solid #d3d3d3;
    display: none;
    overflow: hidden;
}
.user_info_template_1 .stretch_wrap {
    width:250px;height:120px;
}
.user_info_template_1 .stretch_wrap .user_info_template_content_1{
    position:absolute;right:155px;margin-right:0px;padding:5px;border-radius:10px;background-color:#E0E7EE;z-index:1;height:100%;left: 0px;
}
.user_info_template_1 .stretch_wrap .user_info_template_content_1 img{
    max-height:100%;border-radius: 8px 8px 8px 8px;
}
.user_info_template_1 .stretch_wrap .user_info_template_content_2{
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0px;
    max-width:165px;
}
.user_info_template_1 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_no{
    display:none;
}
.user_info_template_1 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_title {
    width:110%;;height:45px;background-color:#38426b;color:white;font-weight:600;font-size:30px; line-height:45px;margin:0 0 0 -10%;padding-left:20%;overflow: hidden;
}
.user_info_template_1 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_content1{
    width:110%;;height:25px;background-color:#E0E7EE;color:rgb(80, 80, 80);font-weight:600;font-size:14px; line-height:25px;margin:0 0 0 -5%;
    border-radius: 0 0 10px 0;padding-left:10%;overflow: hidden;
}
.user_info_template_1 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_content2{
    width:110%;;height:25px;background-color:#E0E7EE;color:rgb(80, 80, 80);font-weight:600;font-size:14px; line-height:25px;margin:0 0 0 -5%;
    border-radius: 0 0 10px 0;padding-left:10%;overflow: hidden;
}
.user_info_template_1 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_content3{
    width:110%;;height:25px;background-color:#E0E7EE;color:rgb(80, 80, 80);font-weight:600;font-size:14px; line-height:25px;margin:0 0 0 -5%;
    border-radius: 0 0 10px 0;padding-left:10%;overflow: hidden;
}


.user_info_template_2 {
    cursor: pointer;
    position: absolute;
    z-index: 9;
    background-color: #E0E7EE;
    text-align: center;
    border-radius: 10px 10px 10px 10px;      /* div 모서리 */
    border: 0px solid #d3d3d3;
    display: none;
    overflow: hidden;

    background-color:#38426b;
}
.user_info_template_2 .stretch_wrap {
    width:230px;height:100px;background-color:#ffffff;
}
.user_info_template_2 .stretch_wrap .user_info_template_content_1{
    position:absolute;right:150px;margin-right:0px;padding:5px;border-radius:10px;background-color:#E0E7EE;z-index:1;height:100%;left: 0px;
}
.user_info_template_2 .stretch_wrap .user_info_template_content_1 img{
    max-height:100%;border-radius: 8px 8px 8px 8px;
}
.user_info_template_2 .stretch_wrap .user_info_template_content_2{
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0px;
    max-width:155px;
    /* background-color:#38426b; */
}
.user_info_template_2 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_no{
    display:none;
}
.user_info_template_2 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_title{
    width:110%;;height:30px;background-color:#E0E7EE;color:#38426b;font-weight:600;font-size:20px; line-height:30px;margin:0 0 0 -10%;padding-left:10%;
}
.user_info_template_2 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_content1{
    width:110%;;height:23px;background-color:#38426b;color:white;font-weight:600;font-size:14px; line-height:23px;margin:0 0 0 -10%;
    border-radius: 0 0 0px 0;padding-left:10%;overflow: hidden;
}
.user_info_template_2 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_content2{
    width:110%;;height:23px;background-color:#38426b;color:white;font-weight:600;font-size:14px; line-height:23px;margin:0 0 0 -10%;
    border-radius: 0 0 0px 0;padding-left:10%;overflow: hidden;
}
.user_info_template_2 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_content3{
    width:110%;;height:23px;background-color:#38426b;color:white;font-weight:600;font-size:14px; line-height:23px;margin:0 0 0 -10%;
    border-radius: 0 0 0px 0;padding-left:10%;overflow: hidden;
}


.user_info_template_3 {
    cursor: pointer;
    position: absolute;
    z-index: 9;
    background-color: #E0E7EE;
    text-align: center;
    border-radius: 10px 10px 10px 10px;     /* div 모서리 */
    border: 0px solid #d3d3d3;
    display: none;
    overflow: hidden;
}
.user_info_template_3 .stretch_wrap {
    /* width:230px;height:100px; */
    width:310px;height:120px;
}
.user_info_template_3 .stretch_wrap .user_info_template_content_1{
    position:absolute;right:215px;margin-right:0px;padding:5px;border-radius:10px;background-color:#E0E7EE;z-index:1;height:100%;left: 0px;
}
.user_info_template_3 .stretch_wrap .user_info_template_content_1 img{
    max-height:100%;border-radius: 8px 8px 8px 8px;
}
.user_info_template_3 .stretch_wrap .user_info_template_content_2{
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0px;
    max-width:225px;
}
.user_info_template_3 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_no{
    display:none;
}
.user_info_template_3 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_title {
    width:110%;;height:45px;background-color:#38426b;color:white;font-weight:600;font-size:30px; line-height:45px;margin:0 0 0 -10%;padding-left:10%;
}
.user_info_template_3 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_content1{
    width:110%;;height:25px;background-color:#E0E7EE;color:rgb(80, 80, 80);font-weight:600;font-size:14px; line-height:25px;margin:0 0 0 -5%;
    border-radius: 0 0 10px 0;padding-left:0%;overflow: hidden;
}
.user_info_template_3 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_content2{
    width:110%;;height:25px;background-color:#E0E7EE;color:rgb(80, 80, 80);font-weight:600;font-size:14px; line-height:25px;margin:0 0 0 -5%;
    border-radius: 0 0 10px 0;padding-left:0%;overflow: hidden;
}
.user_info_template_3 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_content3{
    width:110%;;height:25px;background-color:#E0E7EE;color:rgb(80, 80, 80);font-weight:600;font-size:14px; line-height:25px;margin:0 0 0 -5%;
    border-radius: 0 0 10px 0;padding-left:0%;overflow: hidden;
}




.user_info_template_4 {
    cursor: pointer;
    position: absolute;
    z-index: 9;
    background-color: #E0E7EE;
    text-align: center;
    border-radius: 10px 10px 10px 10px;     /* div 모서리 */
    border: 0px solid #d3d3d3;
    display: none;
    overflow: hidden;
}
.user_info_template_4 .stretch_wrap {
    width:90px;height:163px;
}
.user_info_template_4 .stretch_wrap .user_info_template_content_1{
    margin-right:0px;padding:5px 5px 0px 5px;border-radius:10px;background-color:#E0E7EE;z-index:1;height: 116px;
}
.user_info_template_4 .stretch_wrap .user_info_template_content_1 img{
    border-radius: 8px 8px 8px 8px;
}
.user_info_template_4 .stretch_wrap .user_info_template_content_2{
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0px;
    max-width:130px;padding: 0px 5px 0px 5px;
}
.user_info_template_4 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_no{
    display:none;
}
.user_info_template_4 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_title{
    width:100%;height:22px;line-height:22px;font-size:15px;margin:0px 0px 0px 0px;padding-left:0%;border-radius:5px 5px 5px 5px;background-color:#566688;
}
.user_info_template_4 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_content1{
    display:none;
    width:110%;;height:23px;background-color:#E0E7EE;color:rgb(80, 80, 80);font-weight:600;font-size:14px; line-height:23px;margin:0 0 0 -10%;
    border-radius: 0 0 10px 0;padding-left:10%;overflow: hidden;
}
.user_info_template_4 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_content2{
    width:110%;;height:23px;background-color:#E0E7EE;color:rgb(80, 80, 80);font-weight:600;font-size:14px; line-height:23px;margin:0 0 0 -10%;
    border-radius: 0 0 10px 0;padding-left:10%;overflow: hidden;
}
.user_info_template_4 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_content3{
    display:none;
    width:110%;;height:100%;background-color:#E0E7EE;color:rgb(80, 80, 80);font-weight:600;font-size:14px; line-height:23px;margin:0 0 0 -10%;
    border-radius: 0 0 10px 0;padding-left:10%;overflow: hidden;
}



.user_info_template_5 {
    cursor: pointer;
    position: absolute;
    z-index: 9;
    /* background-color: #E0E7EE; */
    text-align: center;
    border-radius: 10px 10px 10px 10px;     /* div 모서리 */
    border: 0px solid #d3d3d3;
    display: none;
    overflow: hidden;
}
.user_info_template_5 .stretch_wrap {
    width:90px;height:163px;
}
.user_info_template_5 .stretch_wrap .user_info_template_content_1{
    margin-right:0px;padding:5px 5px 0px 5px;border-radius:10px;background-color:#E0E7EE;z-index:1;height: 116px;
}
.user_info_template_5 .stretch_wrap .user_info_template_content_1 img{
    border-radius: 8px 8px 8px 8px;
}
.user_info_template_5 .stretch_wrap .user_info_template_content_2{
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0px;
    max-width:130px;padding: 0px 5px 0px 5px;
}
.user_info_template_5 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_no{
    display:none;
}
.user_info_template_5 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_title{
    width:100%;height:22px;line-height:22px;background-color:transparent;font-size: 17px;margin:0px 0px 0px 0px;padding-left: 0%;border-radius:5px 5px 5px 5px;
}
.user_info_template_5 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_content1{
    display:none;
    background-color:transparent;color: #2b2b2b;
    font-weight:600;font-size:14px; line-height:23px;
}
.user_info_template_5 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_content2{
    background-color:transparent;color: #2b2b2b;
    font-weight:600;font-size:14px; line-height:23px;
}
.user_info_template_5 .stretch_wrap .user_info_template_content_2 .user_info_canvas_label_text_content3{
    display:none;
    height:100%;background-color:transparent;color: #2b2b2b;font-weight:600;font-size:14px; line-height:23px;
}






.user_info_canvas_label_text_title {
    width:110%;;height:30px;background-color:#38426b;color:#000000;font-weight:600;font-size:20px; line-height:30px;margin:0 0 0 -10%;padding-left:10%;
}
/* .user_info_canvas_label_text_content {
    width:110%;;height:23px;background-color:#E0E7EE;color:rgb(80, 80, 80);font-weight:600;font-size:14px; line-height:23px;margin:0 0 0 -10%;
    border-radius: 0 0 10px 0;padding-left:10%;overflow: hidden;
}

.user_info_canvas_label_text_content_1 {
    width:110%;;height:23px;background-color:#E0E7EE;color:rgb(80, 80, 80);font-weight:600;font-size:30px; line-height:50px;margin:0 0 0 -10%;
    border-radius: 0 0 10px 0;padding-left:10%;overflow: hidden;
} */