@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body{height:100%;}
* {	
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin:0; 
	padding:0; 
	
}

button {
	border:0;
	cursor:pointer;
}

/* disable highlight on a image */
img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.image_selected { 
	filter: sepia(100%); 
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
  
input.image_attention{ background:url('/images/attention1.png') no-repeat 98% center;background-size: 16px;}

.touch_no_highlight_color {-webkit-tap-highlight-color: rgba(255, 255, 255, 0);}


/* 배경 어둡게 */
.background_dark {
	display: none;
    z-index: 1000;
    position: fixed;
    width: 100%; height: 100%;
    left: 0; top: 0;
    background-color: rgba(0,0,0,0);
    overflow-x: hidden;
  }

/* table */
table { border-collapse:collapse; border-spacing:0; }
.inputbox1{font-size:13px;color:#666;width:100%;height:36px;line-height:30px;text-indent:6px;outline: none;border: solid 1px #ccc;vertical-align: middle; }

  input::-ms-clear {
    display: none;
}


.select1{font-size:13px;line-height:18px;width:100%;height:36px;color:#666;vertical-align:middle;outline: none;border: solid 1px #ccc;}
.textarea1{font-size:13px;color:#666;overflow:auto;width:100%;outline: none;border: solid 1px #ccc;}


img, video {max-width:100%;}	/* div 안의 img, video 사이즈를 css에서 100% 로 맞추기 */
ul, ol, dl {list-style:none;}	/* 리스트의 포인트 삭제 */

body{font-family:"Nanum Gothic", "NanumGothic";font-size:13px;line-height:20px;color:#555;}

a:link	{text-decoration:none;color:#444;}
a:visited{text-decoration:none;color:#333;}
a:hover {text-decoration:none;color:#9b9b9b;}
a:active {text-decoration:none;color:#555;}

.layout_max1000{width:95%;max-width:1300px;margin:0 auto;}

.margin_91px_overlap{position: relative;;display: block;height:91px; background-color:rgb(255, 255, 255, 0);}
.margin_50px_overlap{position: relative;;display: block;height:50px; background-color:rgb(255, 255, 255, 0);}
.margin_33px{position: relative;;display: block;height:33px; background-color:rgb(255, 255, 255, 0);}
.margin_20px{position: relative;;display: block;height:20px; background-color:rgba(255, 255, 255, 0)}
.margin_10px{position: relative;;display: block;height:10px; background-color:rgb(255, 255, 255, 0)}

.line_1px_0{border-top:1px solid rgb(0, 0, 0);}
.line_2px_0{border-top:2px solid rgb(0, 0, 0);}
.line_3px_0{border-top:2px solid rgb(0, 0, 0);}
.line_4px_0{border-top:3px solid rgb(0, 0, 0);}

.line_1px_2{border-top:1px solid #7a7a7a}
.line_2px_2{border-top:2px solid #7a7a7a}
.line_2px_2{border-top:2px solid #7a7a7a}
.line_2px_2{border-top:2px solid #7a7a7a}
.line_3px_2{border-top:3px solid #7a7a7a}

.line_1px_5{border-top:1px solid #9c9c9c}
.line_2px_5{border-top:2px solid #9c9c9c}
.line_3px_5{border-top:2px solid #9c9c9c}
.line_4px_5{border-top:3px solid #9c9c9c}

.line_1px_6{border-top:1px solid #e2e2e2}
.line_2px_6{border-top:2px solid #e2e2e2}
.line_3px_6{border-top:2px solid #e2e2e2}
.line_4px_6{border-top:3px solid #e2e2e2}


.title1{font-size:30px;color:#35383d;line-height:30px;font-weight:800;letter-spacing:-1px;}
.title1 a{font-size:13px;color:#7a7676;font-weight:normal;letter-spacing:0px;}

.round_image{border-radius:50%;object-fit: cover;width:100%;height:100%;cursor:pointer;}

.datepicker1 {
    cursor:pointer;
    background:url(/images/calendar2.png) no-repeat right center;background-size:auto 100%;
    
	opacity:0.7;
}
.datepicker1:hover {
	opacity:1;   
}

.hr_mainmenu {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 35px;
	margin-right: 35px;
	border: 0;
	border-top: 1px solid #e4e4e4;
}

.div_center_horizontally_vertically {
	position: absolute;
	left:0; right:0;
	top:0; bottom:0;
	margin:auto;
	max-width:100%;
	max-height:100%;
	overflow:hidden;
	margin:auto;
}

.image_view_state:hover {opacity:1;cursor: pointer;border:1px solid #ffdddd00}
.image_view_state:active {transform: scale(0.95);}
.image_view_state:focus {border:1px solid #539eff}
:target {
  border: 1px solid rgb(255, 154, 154);
}
/* :target {transform: scale(1.95);border:1px solid #539eff} */

/* <img class="move_userinfo" style="opacity: 0.8;width:35px;height:35px;" src="/images/move2.png"
				onmouseover="this.style.opacity='1'" onmouseout="this.style.opacity='0.8'; this.style.transform='scale(1)'" 
				onmousedown="this.style.transform='scale(0.95)'" onmouseup="this.style.transform='scale(1)';this.style.filter='sepia(100%) saturate(100)'; "/> --> */
.dialog_write_position_arrow::-ms-expand { display: none;line-height: 50px;}
.dialog_write_position_arrow {-webkit-appearance: none;appearance: none;line-height: 50px;}



@media screen and (max-width:1024px) {
	/* .layout_max1000{width:95%;margin:0 auto;} */
}

@media screen and (max-width:768px) {
	/* .layout_max1000{width:100%;margin:0 auto;} */

	.title1{font-size:23px;color:#35383d;line-height:30px;font-weight:800;letter-spacing:-1px;}
}

@media screen and (max-width:480px) {
	/* .layout_max1000{width:95%;margin:0 auto;} */

	.title1{font-size:21px;color:#35383d;line-height:24px;font-weight:800;letter-spacing:-1px;}
}






.button_style1 {width:100%;height:100%;text-align: center; background-color:#DADADA;border-radius: 3px;border:1px solid #ccc;padding:5px 10px 5px 10px;
	display:inline-block;color:#000000;font-size:13px;cursor:pointer; }

/*텍스트 중앙 정렬*/
.button_style1 {display:flex;align-items:center;justify-content:center;}
.button_style1:hover {background-color:#EEEEEE;text-decoration:none;}
.button_style1:active {position:relative;top:1px;}


/* DIV 가로 배치 */
/* 좌측 100퍼센트, 우측 100px  (사용하고자 하는 object에서 height, right 길이를 재정의하여 사용) */
.stretch_wrap {
	position:relative;height:100%;height:36px;		/* height 재정의 필요 */
}
.stretch_left_100percent {							/* right 재정의 필요 */
	position:absolute;height:100%;left:0px;right:100px;margin-right:5px;	
}
.stretch_right_100px {								/* max-width 재정의 필요 */
	position:absolute;height:100%;width:100%;max-width:100px;right:0px;
}