<?xml version='1.0' encoding='utf-8'?>

<Server port="8358" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <GlobalNamingResources>

    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />

    <!-- Mysql JNDI -->
    <!-- Resource name="jdbc/yjsoft1"
              auth="Container"
              type="javax.sql.DataSource"
              driverClassName="com.mysql.jdbc.Driver"
              url="jdbc:mysql://localhost/dbname"
              username="dbuser"
              password="dbpasswd"
              maxActive="20"
              maxIdle="10"
              maxWait="3000"/ -->

    <!-- Oracle JNDI -->
    <!-- Resource name="jdbc/yjsoft1"
              auth="Container"
              type="javax.sql.DataSource"
              driverClassName="oracle.jdbc.driver.OracleDriver"
              url="jdbc:oracle:thin:@IP:1521:ORCL"
              username="dbuser"
              password="dbpasswd"
              maxActive="10"
              maxIdle="5"
              maxWait="3000"/ -->

  </GlobalNamingResources>

  <Service name="yjsoft1">

    <!-- Do not modify the specified port number! -->
    <Connector port="8357" protocol="HTTP/1.1"
               connectionTimeout="20000" />

    <Engine name="yjsoft1" defaultHost="yjsoft1.cafe24.com">

      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
      </Realm>

      <Host name="yjsoft1.cafe24.com"  appBase="/home/hosting_users/yjsoft1"
            unpackWARs="true" autoDeploy="true">
	  <Context path="" docBase="jsonservice" reloadable="true"/>
      </Host>

    </Engine>

  </Service>

</Server>
